<div class="p-text-uppercase p-d-flex p-align-center p-jc-center p-mb-3">
  <img *ngIf="team.logo" [src]="team.logo" class="p-mr-3" alt="Team logo" height="60" />
  <h2>{{team.name}}</h2>
</div>

<div>
  <img *ngIf="team.photo" [src]="team.photo" alt="Team photo" class="photo p-ml-1 p-mr-4 p-mb-1" />
  <div>
    <div *ngIf="team.roster" class="p-mb-3">
      <span class="p-text-bold" [ngStyle]="{color:'var(--primary-color)'}">Team Roster: </span>
      <span (click)="showTeamRoster(team.roster)" class="p-text-bold roster">{{team.roster}}</span>
    </div>
    <div *ngIf="team.colours" class="p-mb-3">
      <span class="p-text-bold" [ngStyle]="{color:'var(--primary-color)'}">Team Colours:</span> {{team.colours}}
    </div>
    <div *ngIf="team.owner" class="p-mb-3">
      <span class="p-text-bold" [ngStyle]="{color:'var(--primary-color)'}">Owner:</span> {{team.owner}}
    </div>
    <div *ngIf="team.headCoach" class="p-mb-3">
      <span class="p-text-bold" [ngStyle]="{color:'var(--primary-color)'}">Head Coach:</span> {{team.headCoach}}
    </div>
    <div *ngIf="team.homeStadium" class="p-mb-3">
      <span class="p-text-bold" [ngStyle]="{color:'var(--primary-color)'}">Home Stadium:</span> {{team.homeStadium}}
    </div>
    <div *ngIf="team.players" class="p-mb-3">
      <span class="p-text-bold" [ngStyle]="{color:'var(--primary-color)'}">Players:</span> {{team.players}}
    </div>
    <div *ngIf="team.honours" class="p-mb-3">
      <span class="p-text-bold" [ngStyle]="{color:'var(--primary-color)'}">Team Honours:</span> {{team.honours}}
    </div>
    <div *ngIf="team.hallOfFamePlayers" class="p-mb-3">
      <span class="p-text-bold" [ngStyle]="{color:'var(--primary-color)'}">Hall of Fame Players:</span> {{team.hallOfFamePlayers}}
    </div>
    <div *ngIf="team.spikeMagazineRating" class="p-mb-3">
      <span class="p-text-bold" [ngStyle]="{color:'var(--primary-color)'}">Spike! Magazine Team Rating:</span> {{team.spikeMagazineRating}}
    </div>
    <div *ngIf="team.bio" class="bio">{{team.bio}}</div>
  </div>
</div>

<p-dialog
  *ngIf="teamRoster"
  [(visible)]="teamRosterInfoDialog"
  [header]="teamRoster.name"
  [modal]="true"
  [maximizable]="true"
  [style]="{width: '720px'}"
>
  <ng-template pTemplate="content">
    <app-team-roster-info [teamRoster]="teamRoster"></app-team-roster-info>
  </ng-template>
</p-dialog>

