.skill:hover {
  cursor: pointer;
  color: var(--primary-color);
}

::ng-deep .skill-info-tooltip .p-tooltip-text > p:first-child {
  margin-block-start: 0;
  margin-block-end: 0;
}

::ng-deep .skill-info-tooltip .p-tooltip-text > p:last-child {
  margin-block-end: 0;
}

::ng-deep .skill-info-tooltip {
  max-width: 30rem;
}
