<div *ngIf="loading" class="p-text-center">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="!loading && teams" [@pageAnimations]="!loading && teams">
  <p-breadcrumb
    [model]="breadcrumbItems"
    [home]="{ icon: 'pi pi-home', routerLink: '/' }"
    styleClass="p-mb-3 animation"
  ></p-breadcrumb>

  <p-panel header="Teams" styleClass="animation">
    <div class="p-grid">
      <div
        *ngFor="let team of teams"
        class="p-offset-4 p-text-center p-text-uppercase p-d-flex p-align-center p-justify-center"
      >
        <button (click)="goToTeam(team.urlId)" pButton pRipple type="button" class="p-button-text p-button-lg">
          <img *ngIf="team.logo" [src]="team.logo" [alt]="team.name" class="p-d-inline-block p-mr-3" height="60" />
          <span>{{team.name}}</span>
        </button>
      </div>
    </div>
  </p-panel>
</div>
