<div
  *ngIf="!teamsService.loading && teamsService.teams"
  [@pageAnimations]="!teamsService.loading && teamsService.teams"
>
  <p-breadcrumb
    [model]="breadcrumbItems"
    [home]="{ icon: 'pi pi-home', routerLink: '/' }"
    styleClass="p-mb-3 animation"
  ></p-breadcrumb>

  <p-panel header="Teams" styleClass="animation">
    <p-table
      #teamsTable
      [value]="teamsService.teams"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['name','rank']"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <button
            pButton
            pRipple
            label="New Team"
            icon="pi pi-plus"
            class="p-button-success p-mr-2"
            (click)="openNewTeamDialog()"
          ></button>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="teamsTable.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px;">Logo</th>
          <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="roster">Roster<p-sortIcon field="roster"></p-sortIcon></th>
          <th pSortableColumn="spikeMagazineRating">Rating<p-sortIcon field="spikeMagazineRating"></p-sortIcon></th>
          <th style="width: 9rem;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-team>
        <tr>
          <td style="width: 100px;"><img *ngIf="team.logo" [src]="team.logo" [alt]="team.name" width="60" /></td>
          <td class="p-pl-0">
            <button
              pButton
              type="button"
              [label]="team.name"
              (click)="openTeamInfoDialog(team)"
              class="p-button-text"
              style="white-space: nowrap"
            ></button>
          </td>
          <td class="p-pl-0">
            <button
              pButton
              type="button"
              [label]="team.roster"
              (click)="openTeamRosterInfoDialog(team.roster)"
              class="p-button-text"
              style="white-space: nowrap"
            ></button>
          </td>
          <td>{{team.spikeMagazineRating}}</td>
          <td class="p-text-right" style="width: 9rem;">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="editTeam(team)"
              pTooltip="Edit Team"
              tooltipPosition="top"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteTeam(team)"
              pTooltip="Delete Team"
              tooltipPosition="top"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{teamsService.teams ? teamsService.teams.length : 0 }} teams.
        </div>
      </ng-template>
    </p-table>
  </p-panel>

  <p-dialog
    [(visible)]="teamFormDialog"
    [header]="team && team.id ? team.name : 'New Team'"
    [modal]="true"
    [maximizable]="true"
    [style]="{width: '575px'}"
  >
    <ng-template pTemplate="content">
      <app-team-form [team]="team" (submittedTeam)="onTeamFormSubmit($event)"></app-team-form>
    </ng-template>
  </p-dialog>

  <p-dialog
    *ngIf="team"
    [(visible)]="teamInfoDialog"
    [header]="team.name"
    [modal]="true"
    [maximizable]="true"
    [style]="{width: '720px'}"
  >
    <ng-template pTemplate="content">
      <app-team-info [team]="team"></app-team-info>
    </ng-template>
  </p-dialog>

  <p-dialog
    *ngIf="teamRoster"
    [(visible)]="teamRosterInfoDialog"
    [header]="teamRoster.name"
    [modal]="true"
    [maximizable]="true"
    [style]="{width: '90%'}"
  >
    <ng-template pTemplate="content">
      <app-team-roster-info [teamRoster]="teamRoster"></app-team-roster-info>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
