<p-table
  [value]="clonedStarPlayer.playerProfiles"
  dataKey="id"
  editMode="row"
  #starPlayerTable
  [globalFilterFields]="['name', 'skillsAndTraits']"
  [editingRowKeys]="editingRowKeys"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <button
        pButton
        pRipple
        label="New Player Profile"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="addNewPlayerProfile($event)"
      ></button>
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="starPlayerTable.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th style="width: 10rem;" class="p-px-1">NAME</th>
      <th style="width: 5rem;" class="p-text-center p-px-1">MA</th>
      <th style="width: 5rem;" class="p-text-center p-px-1">ST</th>
      <th style="width: 5rem;" class="p-text-center p-px-1">AG</th>
      <th style="width: 5rem;" class="p-text-center p-px-1">PA</th>
      <th style="width: 5rem;" class="p-text-center p-px-1">AV</th>
      <th style="width: 15rem;" class="p-px-1">SKILLS & TRAITS</th>
      <th style="width: 6rem;" class="p-text-center p-px-1">GP TO INDUCE</th>
      <th style="width: 6rem;" class="p-text-center p-px-1">BIG GUY</th>
      <th style="width: 6rem;" class="p-px-0"></th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-playerProfile
    let-editing="editing"
    let-ri="rowIndex"
  >
    <tr [pEditableRow]="playerProfile" [pReorderableRow]="ri">
      <td>
        <span class="pi pi-bars" pReorderableRowHandle></span>
      </td>
      <td pEditableColumn class="p-px-1">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="text"
              [(ngModel)]="playerProfile.name"
              name="name"
              required
              style="width: 100%;"
            >
          </ng-template>
          <ng-template pTemplate="output">
            {{playerProfile.name}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="p-text-center p-px-1">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="number"
              [(ngModel)]="playerProfile.movementAllowance"
              name="movementAllowance"
              class="p-text-center"
              style="width: 5rem;"
              required
            >
          </ng-template>
          <ng-template pTemplate="output">
            {{playerProfile.movementAllowance}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="p-text-center p-px-1">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="number"
              [(ngModel)]="playerProfile.strength"
              name="strength"
              class="p-text-center"
              style="width: 5rem;"
              required
            >
          </ng-template>
          <ng-template pTemplate="output">
            {{playerProfile.strength}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="p-text-center p-px-1">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="number"
              [(ngModel)]="playerProfile.agility"
              name="agility"
              class="p-text-center"
              style="width: 5rem;"
              required
            >
          </ng-template>
          <ng-template pTemplate="output">
              <span *ngIf="playerProfile.agility">
                {{playerProfile.agility}}+
              </span>
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="p-text-center p-px-1">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="number"
              [(ngModel)]="playerProfile.passingAbility"
              name="passingAbility"
              class="p-text-center"
              style="width: 5rem;"
              required
            >
          </ng-template>
          <ng-template pTemplate="output">
            <span *ngIf="playerProfile.passingAbility">
              {{playerProfile.passingAbility}}+
            </span>
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="p-text-center p-px-1">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="number"
              [(ngModel)]="playerProfile.armourValue"
              name="armourValue"
              class="p-text-center"
              style="width: 5rem;"
              required
            >
          </ng-template>
          <ng-template pTemplate="output">
            <span *ngIf="playerProfile.armourValue">
              {{playerProfile.armourValue}}+
            </span>
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="p-px-1">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="text"
              [(ngModel)]="playerProfile.skillsAndTraits"
              name="skillsAndTraits"
              style="width: 100%;"
              required
            >
          </ng-template>
          <ng-template pTemplate="output">
            <app-skills-info
              [skills]="playerProfile.skillsAndTraits"
            ></app-skills-info>
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="p-text-center p-px-1">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="number"
              [(ngModel)]="playerProfile.cost"
              name="cost"
              class="p-text-center"
              style="width: 100%;"
              required
            >
          </ng-template>
          <ng-template pTemplate="output">
            {{playerProfile.cost | currency:' ':'symbol':'1.0-0'}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="p-text-center p-px-0">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-checkbox inputId="bigGuy" [binary]="true" [(ngModel)]="playerProfile.bigGuy" name="bigGuy"></p-checkbox>
          </ng-template>
          <ng-template pTemplate="output">
            {{playerProfile.bigGuy ? 'Yes' : 'No'}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="p-text-center p-px-0 p-text-nowrap">
        <button
          *ngIf="!editing"
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          (click)="onRowDelete(playerProfile)"
          class="p-button-rounded p-button-text"
          pTooltip="Delete Player Profile"
          tooltipPosition="top"
        ></button>
        <button
          *ngIf="editing"
          pButton
          pRipple
          type="button"
          pSaveEditableRow
          icon="pi pi-check"
          (click)="onRowEditSave(playerProfile)"
          class="p-button-rounded p-button-text p-button-success p-mr-2"
          pTooltip="Save Player Profile"
          tooltipPosition="top"
        ></button>
        <button
          *ngIf="editing"
          pButton
          pRipple
          type="button"
          pCancelEditableRow
          icon="pi pi-times"
          (click)="onRowEditCancel(playerProfile, ri)"
          class="p-button-rounded p-button-text p-button-danger"
          pTooltip="Cancel"
          tooltipPosition="top"
        ></button>
        <button
          *ngIf="!editing"
          pButton
          pRipple
          type="button"
          pInitEditableRow
          icon="pi pi-pencil"
          (click)="onRowEditInit(playerProfile)"
          class="p-button-rounded p-button-text"
          pTooltip="Edit Player Profile"
          tooltipPosition="top"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p></p>

<form (ngSubmit)="onSubmit()" #starPlayerForm="ngForm">
  <div class="p-field p-sm-8 p-md-6 p-lg-4 p-xl-3">
    <span class="p-float-label">
      <input
        id="urlId"
        type="text"
        pInputText
        required
        appUniqueUrlId
        [(ngModel)]="clonedStarPlayer.urlId"
        name="urlId"
        style="width: 100%;"
      >
      <label for="urlId">Url Id</label>
    </span>
  </div>

  <div class="p-field p-sm-8 p-md-6 p-lg-4 p-xl-3">
    <span class="p-float-label">
      <input
        id="name"
        type="text"
        pInputText
        required
        [(ngModel)]="clonedStarPlayer.name"
        name="name"
        style="width: 100%;"
      >
      <label for="name">Star Player Name</label>
    </span>
  </div>

  <div class="p-field p-col-12 p-mt-4">
    <span class="p-float-label">
      <input
        id="playsFor"
        type="text"
        pInputText
        [(ngModel)]="clonedStarPlayer.playsFor"
        name="playsFor"
        style="width: 100%;"
      >
      <label for="name">Plays for:</label>
    </span>
  </div>

  <div class="p-field p-col-12">
    <span class="p-float-label">
      <input
        id="specialRules"
        type="text"
        pInputText
        [(ngModel)]="clonedStarPlayer.specialRules"
        name="specialRules"
        style="width: 100%;"
      >
      <label for="name">Special Rules</label>
    </span>
  </div>

  <div class="p-col-12">
    <p-button
      type="submit"
      [disabled]="!starPlayerForm.form.valid"
      [loading]="submitLoading"
      label="Submit"
      icon="pi pi-check"
    ></p-button>
  </div>
</form>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
