<ng-container *ngIf="playsForParts.length; else elseBlock">
  <ng-container *ngFor="let playsForPart of playsForParts; index as i; last as isLast">
    <span *ngIf="i % 2; else elseBlock">
      ‘<app-special-rules-info [specialRules]="playsForPart"></app-special-rules-info>’
    </span>
    <ng-template #elseBlock>
      <span>{{playsForPart}}</span>
    </ng-template>
    <span *ngIf="!isLast"> </span>
  </ng-container>
</ng-container>
<ng-template #elseBlock>
  <span>{{playsFor}}</span>
</ng-template>
