<div
  *ngIf="!starPlayersService.loading"
  [@pageAnimations]="!starPlayersService.loading"
>
  <p-breadcrumb
    [model]="breadcrumbItems"
    [home]="{ icon: 'pi pi-home', routerLink: '/' }"
    styleClass="p-mb-3 animation"
  ></p-breadcrumb>

  <div class="animation">
    <p-panel *ngIf="starPlayer; else elseBlock" [header]="starPlayer.name">
      <app-star-player-form
        [starPlayer]="starPlayer"
        (submittedStarPlayer)="onStarPlayerFormSubmit($event)"
      ></app-star-player-form>
    </p-panel>

    <ng-template #elseBlock>
      <p-panel>
        Star player not found.
      </p-panel>
    </ng-template>
  </div>
</div>
