<div
  *ngIf="!teamRostersService.loading && teamRoster"
  [@pageAnimations]="!teamRostersService.loading && teamRoster"
>
  <p-breadcrumb
    [model]="breadcrumbItems"
    [home]="{ icon: 'pi pi-home', routerLink: '/' }"
    styleClass="p-mb-3 animation"
  ></p-breadcrumb>

  <p-panel [header]="teamRoster.name" styleClass="animation">
    <ng-template pTemplate="icons">
      <button
        pButton
        class="p-panel-header-icon p-link"
        icon="pi pi-trash"
        (click)="deleteTeamRoster()"
        pTooltip="Delete Team Roster"
        tooltipPosition="top"
      ></button>
      <button
        pButton
        class="p-panel-header-icon p-link"
        icon="pi pi-pencil"
        (click)="editTeamRoster()"
        pTooltip="Edit Team Roster"
        tooltipPosition="left"
      ></button>
    </ng-template>

    <p-button
      *ngFor="let teamRoster of teamRostersService.teamRosters"
      (click)="navigateToTeamRoster(teamRoster.urlId)"
      styleClass="p-button-text"
      [label]="teamRoster.name"
    ></p-button>

    <p-divider></p-divider>

    <app-team-roster-info [teamRoster]="teamRoster"></app-team-roster-info>
  </p-panel>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
