::ng-deep .skill-description > p:first-child {
  margin-block-start: 0;
  margin-block-end: 0;
}

::ng-deep .skill-description > p:last-child {
  margin-block-end: 0;
}

.quantity-button {
  padding: revert;
  min-width: auto;
}

.team {
  cursor: pointer;
}

.team {
  color: var(--primary-color);
  text-decoration: underline;
}

.text-danger {
  color: #FF5252;
}

.text-warning {
  color: var(--orange-500);
}

.text-top {
  vertical-align: top;
}
