<div class="team-roster-info">
  <h4 *ngIf="teamRoster.notableExamples" class="p-mt-0">
    Notable Examples:
    <ng-container
      *ngFor="let team of teams; last as isLast"
    >
      <span *ngIf="team.id; else elseBlock" (click)="openTeamInfoDialog(team)" class="team">{{team.name}}</span>
      <ng-template #elseBlock>
        <span>{{team.name}}</span>
      </ng-template>
      <span *ngIf="!isLast">, </span>
    </ng-container>
  </h4>

  <div class="p-mb-3">
    {{teamRoster.description}}
  </div>

  <p-table
    [value]="teamRoster.playerProfiles"
    dataKey="id"
    #playerProfilesTable
    [globalFilterFields]="['position', 'skillsAndTraits']"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <div>
          <div class="p-text-bold">
            Team Roster Cost:
            <span [class.text-danger]="teamRosterCost > 1000000">{{teamRosterCost  | currency:' ':'symbol':'1.0-0'}}</span>
            gold pieces
            <button
              *ngIf="teamRosterCost"
              (click)="resetTeamRoster()"
              [disabled]="!teamRosterCost"
              pRipple
              class="p-button p-button-text p-button-raised p-button-danger p-text-bold quantity-button"
            >Reset</button>
          </div>
          <div class="p-text-bold">
            Number of Players:
            <span [ngClass]="{'text-warning': (numberOfPlayers > 0 && numberOfPlayers < 11), 'text-danger': numberOfPlayers > 16}">
              {{numberOfPlayers}}
            </span>
          </div>
        </div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="playerProfilesTable.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="quantity" style="width: 7rem;" class="p-text-center p-text-nowrap">
          QTY<p-sortIcon field="quantity"></p-sortIcon>
        </th>
        <th style="min-width: 8rem;">POSITION</th>
        <th pSortableColumn="cost" style="width: 6.5rem;" class="p-text-center p-text-nowrap">
          COST<p-sortIcon field="cost"></p-sortIcon>
        </th>
        <th pSortableColumn="movementAllowance" style="width: 5.5rem;" class="p-text-center p-text-nowrap">
          MA<p-sortIcon field="movementAllowance"></p-sortIcon>
        </th>
        <th pSortableColumn="strength" style="width: 5rem;" class="p-text-center p-text-nowrap">
          ST<p-sortIcon field="strength"></p-sortIcon>
        </th>
        <th pSortableColumn="agility" style="width: 5.5rem;" class="p-text-center p-text-nowrap">
          AG<p-sortIcon field="agility"></p-sortIcon>
        </th>
        <th pSortableColumn="passingAbility" style="width: 5.5rem;" class="p-text-center p-text-nowrap">
          PA<p-sortIcon field="passingAbility"></p-sortIcon>
        </th>
        <th pSortableColumn="armourValue" style="width: 5.5rem;" class="p-text-center p-text-nowrap">
          AV<p-sortIcon field="armourValue"></p-sortIcon>
        </th>
        <th style="min-width: 8rem;">SKILLS & TRAITS</th>
        <th style="width: 7rem;" class="p-text-center">PRIMARY</th>
        <th style="width: 7rem;" class="p-text-center">SECONDARY</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-playerProfile
    >
      <tr *ngIf="teamRoster.bigGuyRules && firstBigGuy.id === playerProfile.id">
        <td colspan="11">{{teamRoster.bigGuyRules}}</td>
      </tr>
      <tr>
        <td class="p-text-center p-text-nowrap text-top">
          <button
            (click)="decreaseQuantity(playerProfile)"
            [disabled]="quantities[playerProfile.position] === 0"
            pRipple
            class="p-button p-button-text p-button-raised p-button-danger p-text-bold quantity-button"
          >−</button>
          <span *ngIf="playerProfile.quantity">
            {{quantities[playerProfile.position]}}-{{playerProfile.quantity}}
          </span>
          <button
            (click)="increaseQuantity(playerProfile)"
            [disabled]="quantities[playerProfile.position] === playerProfile.quantity"
            pRipple
            class="p-button p-button-text p-button-raised p-text-bold quantity-button"
          >+</button>
        </td>
        <td class="text-top">
          {{playerProfile.position}}
        </td>
        <td class="p-text-center text-top">
          {{playerProfile.cost | currency:' ':'symbol':'1.0-0'}}
        </td>
        <td class="p-text-center text-top">
          {{playerProfile.movementAllowance}}
        </td>
        <td class="p-text-center text-top">
          {{playerProfile.strength}}
        </td>
        <td class="p-text-center text-top">
          <span *ngIf="playerProfile.agility">
            {{playerProfile.agility}}+
          </span>
        </td>
        <td class="p-text-center text-top">
          <span *ngIf="playerProfile.passingAbility; else elseBlock">
            {{playerProfile.passingAbility}}+
          </span>
          <ng-template #elseBlock>
            <span>-</span>
          </ng-template>
        </td>
        <td class="p-text-center text-top">
          <span *ngIf="playerProfile.armourValue">
            {{playerProfile.armourValue}}+
          </span>
        </td>
        <td class="text-top">
          <app-skills-info
            [skills]="playerProfile.skillsAndTraits"
            (clickedSkill)="openSkillInfoDialog($event)"
          ></app-skills-info>
        </td>
        <td class="p-text-center text-top">
          {{playerProfile.primary}}
        </td>
        <td class="p-text-center text-top">
          {{playerProfile.secondary}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="11">
          <div class="p-d-flex p-ai-center p-jc-between p-px-1">
            <div class="p-col-11">
              Special Rules: <app-special-rules-info [specialRules]="teamRoster.specialRules"></app-special-rules-info>
            </div>
            <div class="p-col-1 p-text-right">
              Tier: <span class="p-text-normal">{{teamRoster.tier}}</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="11">
          <div class="p-d-flex p-ai-center p-jc-between p-px-1">
            <div class="p-col-6">
              <button
                (click)="decreaseReRolls()"
                [disabled]="reRolls === 0"
                pRipple
                class="p-button p-button-text p-button-raised p-button-danger p-text-bold quantity-button"
              >−</button>
              {{reRolls}}-8
              <button
                (click)="increaseReRolls()"
                [disabled]="reRolls === 8"
                pRipple
                class="p-button p-button-text p-button-raised p-text-bold quantity-button"
              >+</button>
              Team re-rolls:
              <span class="p-text-normal">
                {{teamRoster.reRollCost | currency:' ':'symbol':'1.0-0'}} gold pieces each
              </span>
            </div>
            <div class="p-col-6 p-text-right">
              <div *ngIf="teamRoster.apothecary; else elseBlock">
                <button
                  (click)="decreaseApothecary()"
                  [disabled]="apothecary === 0"
                  pRipple
                  class="p-button p-button-text p-button-raised p-button-danger p-text-bold quantity-button"
                >−</button>
                {{apothecary}}-1
                <button
                  (click)="increaseApothecary()"
                  [disabled]="apothecary === 1"
                  pRipple
                  class="p-button p-button-text p-button-raised p-text-bold quantity-button"
                >+</button>
                Apothecary: <span class="p-text-normal">50,000 gold pieces</span>
              </div>
              <ng-template #elseBlock>
                Apothecary: <span class="p-text-normal">NO</span>
              </ng-template>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="11">
          <div class="p-d-flex p-ai-center p-jc-between p-px-1">
            <div class="p-col-6">
              <button
                (click)="decreaseAssistantCoaches()"
                [disabled]="assistantCoaches === 0"
                pRipple
                class="p-button p-button-text p-button-raised p-button-danger p-text-bold quantity-button"
              >−</button>
              {{assistantCoaches}}-6
              <button
                (click)="increaseAssistantCoaches()"
                [disabled]="assistantCoaches === 6"
                pRipple
                class="p-button p-button-text p-button-raised p-text-bold quantity-button"
              >+</button>
              Assistant Coaches:
              <span class="p-text-normal">
                {{10000 | currency:' ':'symbol':'1.0-0'}} gold pieces each
              </span>
            </div>
            <div class="p-col-6 p-text-right">
              <button
                (click)="decreaseCheerleaders()"
                [disabled]="cheerleaders === 0"
                pRipple
                class="p-button p-button-text p-button-raised p-button-danger p-text-bold quantity-button"
              >−</button>
              {{cheerleaders}}-12
              <button
                (click)="increaseCheerleaders()"
                [disabled]="cheerleaders === 12"
                pRipple
                class="p-button p-button-text p-button-raised p-text-bold quantity-button"
              >+</button>
              Cheerleaders:
              <span class="p-text-normal">
                {{10000 | currency:' ':'symbol':'1.0-0'}} gold pieces each
              </span>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div>
        <div class="p-text-bold">
          Team Roster Cost:
          <span [class.text-danger]="teamRosterCost > 1000000">{{teamRosterCost  | currency:' ':'symbol':'1.0-0'}}</span>
          gold pieces
          <button
            *ngIf="teamRosterCost"
            (click)="resetTeamRoster()"
            [disabled]="!teamRosterCost"
            pRipple
            class="p-button p-button-text p-button-raised p-button-danger p-text-bold quantity-button"
          >Reset</button>
        </div>
        <div class="p-text-bold">
          Number of Players:
          <span [ngClass]="{'text-warning': (numberOfPlayers > 0 && numberOfPlayers < 11), 'text-danger': numberOfPlayers > 16}">
              {{numberOfPlayers}}
            </span>
        </div>
      </div>
    </ng-template>
  </p-table>

  <p></p>

  <p-panel
    *ngIf="starPlayers.length"
    [header]="'Star Players (' + starPlayers.length + ')'"
    [toggleable]="true"
    [collapsed]="true"
    toggler="header"
  >
    <div *ngFor="let starPlayer of starPlayers">
      <app-star-player-info [starPlayer]="starPlayer"></app-star-player-info>
    </div>
  </p-panel>

  <p-dialog
    *ngIf="team"
    [(visible)]="teamInfoDialog"
    [header]="team.name"
    [modal]="true"
    [maximizable]="true"
    [style]="{width: '720px'}"
  >
    <ng-template pTemplate="content">
      <app-team-info [team]="team"></app-team-info>
    </ng-template>
  </p-dialog>

  <app-skill-info-dialog
    [(visible)]="skillInfoDialog"
    [skill]="skill"
  ></app-skill-info-dialog>
</div>
