::ng-deep .skill-description > p:first-child {
  margin-block-start: 0;
  margin-block-end: 0;
}

::ng-deep .skill-description > p:last-child {
  margin-block-end: 0;
}

.team {
  cursor: pointer;
}

.team {
  color: var(--primary-color);
  text-decoration: underline;
}

.text-nowrap {
  white-space: nowrap;
}
