<div
  *ngIf="!teamRostersService.loading"
  [@pageAnimations]="!teamRostersService.loading"
>
  <p-breadcrumb
    [model]="breadcrumbItems"
    [home]="{ icon: 'pi pi-home', routerLink: '/' }"
    styleClass="p-mb-3 animation"
  ></p-breadcrumb>

  <div class="animation">
    <p-panel  *ngIf="teamRoster; else elseBlock" [header]="teamRoster.name">
      <app-team-roster-form
        [teamRoster]="teamRoster"
        (submittedTeamRoster)="onTeamRosterFormSubmit($event)"
      ></app-team-roster-form>
    </p-panel>

    <ng-template #elseBlock>
      <p-panel>
        Team roster not found.
      </p-panel>
    </ng-template>
  </div>
</div>
