<div
  *ngIf="!teamsService.loading"
  [@pageAnimations]="!teamsService.loading">
  <p-breadcrumb
    [model]="breadcrumbItems"
    [home]="{ icon: 'pi pi-home', routerLink: '/' }"
    styleClass="p-mb-3 animation"
  ></p-breadcrumb>

  <div class="animation">
    <p-panel *ngIf="team; else elseBlock" [header]="team.name">
      <ng-template pTemplate="icons">
        <button
          pButton
          class="p-panel-header-icon p-link"
          icon="pi pi-plus"
          (click)="newTeam()"
          pTooltip="New Team"
          tooltipPosition="top"
        ></button>
        <button
          pButton
          class="p-panel-header-icon p-link"
          icon="pi pi-trash"
          (click)="deleteTeam()"
          pTooltip="Delete Team"
          tooltipPosition="top"
        ></button>
        <button
          pButton
          class="p-panel-header-icon p-link"
          icon="pi pi-pencil"
          (click)="editTeam()"
          pTooltip="Edit Team"
          tooltipPosition="top"
        ></button>
      </ng-template>

      <div class="p-text-center">
        <img
          *ngFor="let team of teamsService.teams; let i=index;"
          [src]="team.logo"
          [alt]="team.name"
          width="54"
          height="54"
          (click)="getTeam(team.urlId)"
          [pTooltip]="team.name"
          tooltipPosition="bottom"
          class="p-mx-1 team-icon"
          [style.opacity]="i === carouselPage ? 1 : 0.7"
        >
      </div>

      <p-divider></p-divider>

      <p-carousel
        [value]="this.teamsService.teams"
        [showIndicators]="false"
        [page]="carouselPage"
        [circular]="true"
        (onPage)="onCarouselPage($event)"
      >
        <ng-template let-team pTemplate="item">
          <app-team-info [team]="team"></app-team-info>
        </ng-template>
      </p-carousel>
    </p-panel>
    <ng-template #elseBlock>
      <p-panel>
        Team not found.
      </p-panel>
    </ng-template>
  </div>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
