<div *ngIf="loading" class="p-text-center">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="!loading && team" [@pageAnimations]="!loading && team">
  <p-breadcrumb [model]="breadcrumbItems" [home]="{ icon: 'pi pi-home', routerLink: '/' }" styleClass="p-mb-3 animation"></p-breadcrumb>

  <p-panel [header]="team.name" styleClass="animation">
    <ng-template pTemplate="icons">
      <button pButton class="p-panel-header-icon p-link" icon="pi pi-trash" (click)="deleteTeam()" pTooltip="Delete Team" tooltipPosition="top"></button>
      <button pButton class="p-panel-header-icon p-link" icon="pi pi-pencil" (click)="editTeam()" pTooltip="Edit Team" tooltipPosition="top"></button>
    </ng-template>

    <app-team-info [team]="team"></app-team-info>
  </p-panel>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
