<div
  *ngIf="!starPlayersService.loading"
  [@pageAnimations]="!starPlayersService.loading"
>
  <p-breadcrumb
    [model]="breadcrumbItems"
    [home]="{ icon: 'pi pi-home', routerLink: '/' }"
    styleClass="p-mb-3 animation"
  ></p-breadcrumb>

  <div class="animation">
    <p-panel *ngIf="starPlayer; else elseBlock" [header]="starPlayer.name">
      <ng-template pTemplate="icons">
        <button
          pButton
          class="p-panel-header-icon p-link"
          icon="pi pi-plus"
          (click)="newStarPlayer()"
          pTooltip="New Star Player"
          tooltipPosition="top"
        ></button>
        <button
          pButton
          class="p-panel-header-icon p-link"
          icon="pi pi-trash"
          (click)="deleteStarPlayer()"
          pTooltip="Delete Star Player"
          tooltipPosition="top"
        ></button>
        <button
          pButton
          class="p-panel-header-icon p-link"
          icon="pi pi-pencil"
          (click)="editStarPlayer()"
          pTooltip="Edit Star Player"
          tooltipPosition="left"
        ></button>
      </ng-template>

      <p-panel
        *ngIf="starPlayersService.starPlayers.length"
        header="Star Players"
        [toggleable]="true"
        toggler="header"
      >
        <p-tabView [(activeIndex)]="tabIndex">
          <ng-container *ngFor="let position of positions; index as i;">
            <p-tabPanel
              [header]="position"
              *ngIf="starPlayersByPositions[position]"
            >
              <p-button
                *ngFor="let starPlayer of starPlayersByPositions[position]"
                (click)="navigateToStarPlayer(starPlayer.urlId)"
                styleClass="p-button-text"
                [label]="starPlayer.name"
              ></p-button>
            </p-tabPanel>
          </ng-container>
        </p-tabView>
      </p-panel>

      <p></p>

      <app-star-player-info [starPlayer]="starPlayer"></app-star-player-info>
    </p-panel>

    <ng-template #elseBlock>
      <p-panel>
        Star player not found.
      </p-panel>
    </ng-template>
  </div>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
